body{
    background-color: #F6F6F6;
}
#wraper {
    min-height: 600px;
    position: relative;
}
#menuwrap {
    width: 200px;
    min-height: 700px;
    float: left;
    background: #2C2C2C;
}
#contenwrap {
    height: 400px;
    margin-left: 200px;
}
#topbar {
    background: #EEE;
    padding: 10px;
    border-bottom: 1px solid #DBDBDB;
}
#topbar h1 {
    font-size: 21px;
    margin: 0px;
    padding: 0px;
    line-height: 17px;
}
#logo {
    background: #78C234;
    color: #FFF;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    text-shadow: 1px 1px 3px #000;
    text-align: right;
}
.iconbox {
    background: #EEE;
    width: 75px;
    height: 75px;
    display: inline-block;
    margin: 0px 3px;
    box-shadow: 1px 1px 1px #C7C7C7;
    background-size: 53%;
    background-repeat: no-repeat;
}
.contentgroup {
    padding: 10px;
}
#mainmenucon a {
    display: block;
    color: #A2A2A2;
    padding: 7px 11px;
    font-size: 13px;
    border-bottom: 1px solid #242424;
}
#mainmenucon a:hover {
    text-decoration: none;
    background: #252525;
}
#mainmenucon {
    margin-top: 20px;
}
#content {
    padding: 10px;
}

input, textarea, select, .uneditable-input {
    border-radius: 0px;
}
.form-horizontal .control-group {
    padding: 4px 0px;
    margin: 0px;
}
input:focus, textarea:focus {
    box-shadow: none;
}
.selch,
.selsubch,
.rand_user{
    background: #EEE;
    display: inline-block;
    padding: 5px 10px;
    color: #9B9B9B;
    cursor: pointer;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    text-shadow: 1px 1px #FFF;
    border: 1px solid #CCC;
}
.selch.active,
.selch.active:hover,
.selsubch.active,
.selsubch.active:hover,
.rand_user.active,.rand_user.active:hover{
    color: #FFF;
    text-shadow: none;
    background: none repeat scroll 0 0 #88A991;
    border: 1px solid #242480;
}
.selch:hover,
.selsubch:hover,
.rand_user:hover{
    background: #E0E0E0;
    color: #555;
    text-shadow: none;
}
.form-horizontal .help-block {
    margin-top: 5px;
    color: #5383AF;
    font-size: 12px;
    border-left: 5px solid #7EC1FF;
    padding-left: 5px;
}
.container-fluid.contenwrap{
    padding-top: 10px;
}
.table{
    background: #FFF;
}
.table tbody tr:hover td,
.table tbody tr:hover th {
    background-color: #FAFAFA;
}

.popdetail {
    background: white;
    padding: 10px;
    position: absolute;
    top: 100px;
    border: 1px solid #CCC;
    left: 300px;
    width: 614px;
    border-bottom: 2px solid #CCC;
}
.article-img {
    float: left;
}
.article-text {
    margin-left: 115px;
}
.popdetail h2 {
    color: #000;
    font-size: 20px;
    line-height: 26px;
}
#stream_home_title {
    color: #00007C;
}
.artilce-snippet {
    font-size: 12px;
    color: #818181;
    margin-top: 5px;
}
.article-action a {
    display: inline-block;
    background: #EEE;
    padding: 5px 10px;
    color: #424242;
}
.article-action {
    text-align: right;
    border-top: 1px solid #EEE;
    padding-top: 10px;
}
.article-action a:hover {
    text-decoration: none;
    background: #4D90FE;
    color: white;
}