body {
  background: 
#252525;
}
#header {
  width: 100%;
  height: 50px;
  background: #E1E1E1;
  border-bottom: 1px solid #A1A1A1;
  box-shadow: 0 1px 5px rgba(0,0,0,.2);
  z-index: 999;
}
.content {
padding: 20px 0px;
padding-top: 50px;
}
#header .container a {
  display: inline-block;
  background: #E1E1E1;
  height: 50px;
}
#header .container a:hover {
  background-color: #EBEBEB;
}
#header .container .logo {
  width: 190px;
  border-right: #CCC 1px solid;
  background-image: url('../img_all/lintas-logo-small.png');
}
#header .container .mainmenu {
  width: 60px;
  margin-left: -3px;
  border-right: #CCC 1px solid;
  border-left: 1px solid #F0F0F0;
}

.top-nav {
background: 
#E1E1E1;
border-bottom: 1px solid 
#A1A1A1;
margin-bottom: 0;
box-shadow: 0 1px 5px 
rgba(0, 0, 0, .2);
position: fixed;
width: 100%;
top: 0;
z-index: 9999;
font: 13px/1.5 'PT Sans',sans-serif;
background-image: url('http://i.brta.in/images/lightgrey.png');
}
  .top-nav-wrap {
width: 1024px;
margin: 0 auto;
}
  #usermenu {
display: block;
height: 30px;
}
  #searchbox {
float: right;
border-radius: 5px;
background-image: url('http://i.brta.in/images/spriteme1.png');
height: 24px;
background-repeat: no-repeat;
margin-top: 3px;
background-position: -10px -10px;
margin-right: 15px;
position: relative;
}
  #searchfield {
width: 226px;
border: 0;
height: 19px;
margin: 1px;
background: transparent;
font-size: 12px;
padding-top: 3px;
}
  .submit_btn {
background: #F6A200;
background: -moz-linear-gradient(top,#F6A200 0,#F6B600 100%);
background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#F6A200),color-stop(100%,#F6B600));
background: -webkit-linear-gradient(top,#F6A200 0,#F6B600 100%);
background: -o-linear-gradient(top,#F6A200 0,#F6B600 100%);
background: -ms-linear-gradient(top,#F6A200 0,#F6B600 100%);
background: linear-gradient(top,#F6A200 0,#F6B600 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6a200',endColorstr='#f6b600',GradientType=0);
border: 1px solid #ACACAC;
border-radius: 4px 4px 4px 4px;
box-shadow: 0 0 3px #acacac inset;
cursor: pointer;
float: left;
font-weight: 700;
height: 18px;
margin-left: 10px;
margin-top: 3px;
padding: 2px 10px;
text-transform: uppercase;
}
  #bookmarklet {
width: 90px;
height: 25px;
float: left;
margin: 3px 0 0 10px;
}
  #bookmarklet a.bookmark {
background: url("http://i.brta.in/images/spriteme1.png") transparent no-repeat;
width: 90px;
height: 22px;
display: block;
padding-left: 15px;
color: #252525;
font-weight: bold;
padding-top: 3px;
font-size: 13px;
float: left;
text-indent: -3000px;
background-position: -10px -54px;
}
  .bend_arrow {
width: 55px;
height: 20px;
background: url("http://i.brta.in/images/spriteme1.png") transparent -11px -1480px no-repeat;
float: left;
font-size: 10px;
padding-left: 20px;
padding-top: 5px;
line-height: 1;
}
  #wrap_usermenu {
float: right;
padding: 2px 0;
background: 0;
min-width: 110px;
}
  .linkuser {
display: block;
float: right;
padding: 3px 0;
color: black;
text-transform: uppercase;
margin-left: 10px;
}
 #user {
float: right;
padding: 0 5px;
margin-top: -2px;
height: 30px;
}
  #user .pic {
background: #BBB;
width: 25px;
height: 25px;
float: left;
margin-top: 2px;
}
  #user .settingmenu {
background-image: url("http://i.brta.in/images/spriteme1.png");
width: 30px;
height: 30px;
display: block;
float: right;
background-repeat: no-repeat;
margin-top: 3px;
padding: 0;
cursor: pointer;
background-position: -10px -96px;
position: relative;
background-repeat: no-repeat;
}
  .settingmenu_hover {
position: absolute;
min-width: 118px;
background: rgba(255, 255, 255, .9);
z-index: 1000;
padding: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
margin-top: 28px;
box-shadow: 0 3px 10px #000;
display: none;
right: -4px;
}
  .settingmenu_hover a {
display: block;
font-weight: bold;
color: #555;
padding: 2px 5px;
}
  #user .username {
margin-left: 30px;
line-height: 27px;
font-weight: 700;
color: #363636;
margin-right: 29px;
display: block;
min-width: 62px;
padding: 1px;
}
#site_logo {
display: block;
width: 225px;
height: 90px;
float: left;
background-repeat: no-repeat;
background-image: url("http://devhome.lintas.me/img/lintas-pidio-logo.png");
background-position: 0px 3px;
}
  #leaderbpard {
float: right;
width: 728px;
height: 90px;
}
.container.content {
padding-top: 30px;
width: 100%;
margin: 0px;
}
.clear {
clear: both;
}
.nav_head {
width: 1024px;
margin: 0 auto;
margin-bottom: 10px;
}
.search-sugest {
position: absolute;
width: 341px;
background: 
white;
left: 0px;
top: 26px;
border: 1px solid 
#CCC;
border-top: none;
z-index: 100;
box-shadow: 1px 1px 3px 
rgba(0, 0, 0, .3);
display:none;
}
.search-result {
height: 30px;
overflow: hidden;
}
  .result-thumb {
float: left;
background: #EEE;
height: 30px;
width: 30px;
margin-left: 10px;
margin-top: 7px;
display:none;
}
.result-text {
padding-left: 10px;
line-height: 30px;
height: 30px;
padding-right: 68px;
color: #595959;
}
.result-text b {
font-weight: bold;
color: black;
}  
  .search-result:hover {
background: #F7F7F7;
}
  .search-result .follow {
float: right;
margin-top: -25px;
margin-right: 10px;
}
  .search-separator {
text-align: center;
line-height: 1px;
background: #EEE;
margin: 10px 0px;
}
  .search-separator span {
background: white;
padding: 0px 10px;
font-size: 12px;
text-transform: uppercase;
font-weight: bold;
color: #999;
}
  .search-result .following {
  margin-top: -25px;
margin-right: 10px;
float: right;
}
  .tagseparate {
padding-bottom: 3px;
text-align: center;
border-bottom: 1px solid #EEE;
margin-bottom: 5px;
font-weight: bold;
}
.follow {
display: inline-block;
background: #EEE;
padding: 0px 5px;
font-size: 10px;
border-radius: 5px;
border: 1px solid #CCC;
cursor: pointer;
}
.following {
background: #EEE;
display: inline-block;
font-size: 10px;
padding: 0px 6px;
border: 1px solid #CCC;
border-radius: 5px;
cursor: pointer;
}
.follow i {
margin-left: 5px;
color: 
#F6B600;
}
.following i {
margin-left: 5px;
color: 
#005826;
}
.nav_head_con {
background: 
white;
padding: 10px;
}
#customize-empty {
position: relative;
}
#customize{
position: absolute;  
background: 
#2C2C2C;
}
#customize,#customize-empty {

width: 1024px;
margin: 0 auto;
}
.sitemenu {
float: left;
}
.sitemenu a {
color: 
#4D4D4D;
display: inline-block;
padding: 5px 5px;
text-shadow: 0px 1px 
white;
}
.sitemenu a.active,.sitemenu a:hover {
text-decoration: none;
color: 
black;
font-weight: bold;
}
.sitemenu_separe {
border-left: 1px solid 
#A7A6A6;
border-right: 1px solid 
white;
}
.channel_wrap {
width: 1024px;
margin: 0 auto;
padding-top: 10px;
}
.pagewrap {
width: 1024px;
margin: 0 auto;
}
#lintasproductlink {
float: right;
margin-top: 7px;
}
#lintasproductlink a {
color: black;
text-transform: uppercase;
display: inline-block;
vertical-align: top;
padding: 0px 10px;
font-weight: 700;
}
#lintasproductlink a:hover {
color: #2854BB;
}
#lintasproductlink .dash {
border-right: 1px solid black;
display: inline-block;
vertical-align: top;
height: 17px;
}
