@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 400;
  src: local('PT Sans Italic'), local('PTSans-Italic'), url(http://www.lintas.me/assets/font/Pq7I38KtY37kAe5aYFKrSA.woff) format('woff');
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(http://www.lintas.me/assets/font/jduSEW07_j4sIG_ERxiq4Q.woff) format('woff');
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'), url(http://www.lintas.me/assets/font/HXiERDIZdwFzjXlbcMq7XPesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}

@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 700;
  src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'), url(http://www.lintas.me/assets/font/lILlYDvubYemzYzN7GbLkBsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}

.clear {
  clear: both;
} 
  
body{
  font-family: 'PT Sans',sans-serif;  
  font-size: 13px;
  line-height: 1.5;
} 

img {
color: transparent;
font-size: 0;
vertical-align: middle;
-ms-interpolation-mode: bicubic;
}