body {font-family: verdana, arial, helvetica, sans-serif;}
.container {width: 1024px;margin: 0 auto;min-height: 300px;}
.customizeoption {
width: 240px;
background: #EEE;
padding: 10px;
float:left;
}
.customizeoption hr {border-top: 1px solid #CCC;border-bottom: 1px solid white;border-left: none;border-right: none;margin: 10px 0px;}
.customizeoption label {
display: block;
padding: 5px 0px;
font-size: 13px;
font-weight: 700;
padding-bottom: 7px;
color: #666;
padding-top: 0px;
}
.customizeoption input[type="text"] {
margin: 0px;
width: 228px;
border: 1px solid #CCC;
padding: 5px 5px;
color: #666;
font-family: verdana, arial, helvetica, sans-serif;
font-size: 12px;
font-weight: normal;
}
.controlbox {
margin: 10px 0px;
}
.controlbox div {
display: inline-block;
padding: 5px 12px;
font-size: 12px;
background: #DDD;
cursor: pointer;
}
#previewcon {
float: left;
margin-left: 270px;
position: absolute;
}
.customizeoption select {
padding: 4px;
font-size: 12px;
font-family: verdana, arial, helvetica, sans-serif;
}
#grab_code {
display: none;
}
.hd {
font-size: 15px;
font-weight: bold;
color: #555;
margin-bottom: 10px;
padding-bottom: 5px;
text-shadow: 1px 1px white;
}
 #facebox{position:absolute;top:0;left:0;z-index:100000;text-align:left}#facebox .popup{position:relative;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;/*-webkit-box-shadow:0 0 18px rgba(0,0,0,0.4);-moz-box-shadow:0 0 18px rgba(0,0,0,0.4);box-shadow:0 0 18px rgba(0,0,0,0.4);*/padding:10px;}#facebox .content{display:table;width:370px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}#facebox .content>p:first-child{margin-top:0}#facebox .content>p:last-child{margin-bottom:0}#facebox .close{position:absolute;top:5px;right:5px;padding:2px;background:#fff}#facebox .close img{opacity:.3}#facebox .close:hover img{opacity:1.0}#facebox .loading{text-align:center}#facebox .image{text-align:center}#facebox img{border:0;margin:0}#facebox_overlay{position:fixed;top:0;left:0;height:100%;width:100%}.facebox_hide{z-index:-100}.facebox_overlayBG{background-color:#000;z-index:99} 