.treesaver body {
  /* Hide scrollbars */
  overflow: hidden;
  /* Use full body canvas */
  margin: 0;
  border: 0;
  padding: 0;
}

body {
  font-family: Georgia, Serif;
  font-size: 16px;
  color: #434;
}

h2 {
  font-size: 24px;
  line-height: 48px;
  font-weight: normal;
  margin: 24px 0;
  color: #666;
}

h2 .chapter {
  display: block;
  font-size: 16px;
  line-height: 24px;
  color: #999;
}

p {
  margin: 0;
  text-indent: 24px;
}

hr {
  margin: 24px 0;
  border: none;
  padding: 0;
  height: 24px;
  background: url('../img/horizontal-rule.png') 50% 50% no-repeat;
}

.chrome, .viewer, .grid, .column, .container {
  /* Manually position everything */
  position: absolute;
  /* Make sure seams aren't visible */
  overflow: hidden;
  /* Set the base vertical grid */
  line-height: 24px;
}

/* Stretch the viewer to fill the screen */
.viewer {
  top: 0;
  bottom: 40px;
  left: 0;
  right: 0;
}

.grid {
  width: 280px;
  margin: 0 72px;
  opacity: .25;
  min-height: 30px;
}

.cols-2 {
  width: 590px;
}

.cols-3 {
  width: 910px;
}

.column, .container {
  width: 280px;
  top: 15px;
  bottom: 15px;
  left: 0;
}

.col-2 {
  left: 305px;
}

.col-3 {
  left: 615px;
}

.container.cols-2 {
  width: 600px;
}

.container.cols-3 {
  width: 920px;
}

#currentPage {
  opacity: 1;
}

.controls {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  height: 30px;
  line-height: 30px;
  font-family: Helvetica, Sans-Serif;
}

.pagenumbers {
  display: block;
  text-align: center;
  color: #999;
  font-size: 12px;
  font-weight: bold;
}

.controls .pagewidth {
  margin: 0 auto;
  position: relative;
}

.controls .next {
  position: absolute;
  right: 0;
  top: 0;
  display:none;
}

.controls .prev {
  position: absolute;
  left: 0;
  top: 0;
  display:none;
}

/* Button styling from ubuwaits' css3-buttons
 * http://github.com/ubuwaits/css3-buttons
 */
button {
  font-family: Helvetica, Sans-Serif;
  font-size: 14px;
  line-height: 20px;
  height: 30px;
  box-sizing: border-box;
  font-weight: bold;
  padding: 4px 12px;
  color: #666;
  background: #eee;
  background: -moz-linear-gradient(0% 100% 90deg, #ccc, #eee);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#ccc));
  border: 1px solid #ccc;
  border-bottom: 1px solid #bbb;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  margin: 0;
}

button:hover {
  background: #ddd;
  background: -moz-linear-gradient(0% 100% 90deg, #bbb, #ddd);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ddd), to(#bbb));
  border: 1px solid #bbb;
  border-bottom: 1px solid #999;
  cursor: pointer;
  text-shadow: 0 1px 0 #ddd;
}

button:active {
  border: 1px solid #aaa;
  border-bottom: 1px solid #888;
  -moz-box-shadow: inset 0 0 5px 2px #aaa, 0 1px 0 0 #eee;
  -webkit-box-shadow: inset 0 0 5px 2px #aaa, 0 1px 0 0 #eee;
  box-shadow: inset 0 0 5px 2px #aaa, 0 1px 0 0 #eee;
}

button:disabled, button:disabled:hover, button:active:disabled {
  color: #ccc;
  background: #f6f6f6;
  border-color: #eee;
  text-shadow: none;
  box-shadow: none;
}
